@font-face {
    src: url(../fonts/ProstoOne-Regular.ttf);
    font-family: 'ProstoOne-Regular';
}

@font-face {
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: 'Montserrat-Bold';
}

@font-face {
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: 'Montserrat-Regular';
}